/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

.text-gradient {
  background: -webkit-linear-gradient(hsl(var(--p)), hsl(var(--s)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-dark {
  background: -webkit-linear-gradient(hsl(var(--p)), hsl(var(--n)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-item {
  padding: 1rem 3rem;

  position: relative;
  z-index: 10;

  -webkit-transition: all 0.3s ease-in;

  -o-transition: all 0.3s ease-in;

  transition: all 0.3s ease-in;
}

.menu-item:hover {
  color: hsl(var(--a));
}

.menu-item::after {
  content: "";
  display: block;
  height: 100%;
  width: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(hsl(var(--p))), to(hsl(var(--s))));
  background-image: -o-linear-gradient(left, hsl(var(--p)), hsl(var(--s)));
  background-image: linear-gradient(to right, hsl(var(--p)), hsl(var(--s)));
  -webkit-transform: scaleY(0) skewX(0);
      -ms-transform: scaleY(0) skewX(0);
          transform: scaleY(0) skewX(0);
  opacity: 0.2;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  -webkit-transition: width 0.3s ease-in 0.2s, -webkit-transform 0.15s ease-in;

  transition: width 0.3s ease-in 0.2s, -webkit-transform 0.15s ease-in;

  -o-transition: transform 0.15s ease-in, width 0.3s ease-in 0.2s;

  transition: transform 0.15s ease-in, width 0.3s ease-in 0.2s;

  transition: transform 0.15s ease-in, width 0.3s ease-in 0.2s, -webkit-transform 0.15s ease-in;
}

.menu-item:hover::after {
  -webkit-transform: scaleY(1) skewX(-2deg);
      -ms-transform: scaleY(1) skewX(-2deg);
          transform: scaleY(1) skewX(-2deg);
  width: 100%;
}

.sidebar-closed {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

.popup {
  -webkit-animation: popup 3s ease-in-out;
          animation: popup 3s ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes popup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
  30%,
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
  30%,
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
}

@media only screen and (max-width: 40em) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 30em) {
  html {
    font-size: 60%;
  }
  .header {
    margin-bottom: 10rem;
  }
}
